.DS_Store
/Python4Unity/Library/
/Python4Unity/Logs/
/Python4Unity/obj/
/Python4Unity/.vs/
/Python4Unity/Temp/
/Python4Unity/*.csproj
/Python4Unity/Assets/Python4Unity_Config.asset
/Python4Unity/Assets/Python4Unity_Config.asset.meta
__pycache__
__pycache__.meta